*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
img{
    width: 100%;
    height: 100%;
}

/* APP-WRAPPER */
.app-wrapper{
    width: 100%;
    height: 100vh;
}

/* HEADER */
header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row{
    display: flex;
    align-items: center;
}

h1{
    margin: 0 25px;
    font-size: 40px;
}

.difficolta{
    font-size: 25px;
    margin: 0 20px;
}

select{
    padding: 7px 14px;
}

button{
    margin: 0 20px;
    padding: 7px 14px;
}

/* MAIN */
main{
    width: 100%;
    height: calc(100% - 200px);
    background-color: #7fffd3;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

#main-container{
    width: 600px;
    height: 600px;
    display: flex;
    border: 1px solid black;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    width: calc( 100% / 10);
    height: calc( 100% / 10);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.box.width-9{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.box.width-7{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.box.active{
    background-color: #6495ec;
    color: white;
}

/* FOOTER */
footer{
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin-left: 50px;
    font-size: 25px;
    z-index: 2;
}